
<div class="card mb-3">
    <div class="card-body">
        <p class="card-text">
            New Passenger Probability Per Unit of Time:
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" @onclick="DecrementProbability">
                        <span class="oi oi-minus" aria-hidden="true"></span>
                    </button>
                </div>
                <input type="text" class="form-control" value="@GetProbability()" readonly />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" @onclick="IncrementProbability">
                        <span class="oi oi-plus" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </p>
    </div>
</div>

@code{
    [Parameter]
    public int Probability { get; set; }
    
    [Parameter] 
    public EventCallback<int> ProbabilityChanged { get; set; }

    string GetProbability()
    {
        return Probability.ToString() + "%";
    }

    private async Task IncrementProbability()
    {
        if (Probability < 100)
        {
            Probability += 5;
        }
        
        await ProbabilityChanged.InvokeAsync(Probability);
    }

    private async Task DecrementProbability()
    {
        if (Probability > 0)
        {
            Probability -= 5;
        }
        
        await ProbabilityChanged.InvokeAsync(Probability);
    }
}