
<div class="card text-white bg-primary mb-2">
    <div class="card-header">Elevator @ElevatorModel.Id</div>
    <div class="card-body">
        <p class="card-text">
            @foreach (PassengerModel passenger in Passengers)
            {
                <Passenger PassengerModel="passenger" />
            }
        </p>
    </div>
    <div class="card-footer">
        <button class="btn btn-danger" @onclick="Delete">Delete</button>
    </div>
</div>

@code {
    [Parameter]
    public Func<ElevatorModel, Task> DeleteElevator { get; set; }
    
    [Parameter]
    public ElevatorModel ElevatorModel { get; set; }
    
    [Parameter]
    public List<PassengerModel> Passengers { get; set; }
    
    async Task Delete()
    {
        await DeleteElevator(ElevatorModel);
    }
}

