
<div class="card-group mb-3">
    <div class="card text-white bg-dark">
        <div class="card-header py-2">Floor @FloorModel.Id</div>
        <div class="card-body p-2">
            <div class="d-flex flex-wrap gap-2">
                @foreach (ElevatorModel elevator in Elevators)
                {
                    <div class="flex-shrink-0">
                        <Elevator Passengers="Passengers.Where(i => i.CurrentElevator == elevator).ToList()" 
                                  ElevatorModel="elevator" 
                                  DeleteElevator="DeleteElevator" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card text-white bg-dark">
        <div class="card-header py-2">Waiting Passengers</div>
        <div class="card-body p-2">
            <div class="d-flex flex-wrap gap-2">
                @foreach (PassengerModel passenger in Passengers.Where(i => i.CurrentElevator == null))
                {
                    <div class="flex-shrink-0" style="width: 180px;">
                        <Passenger PassengerModel="passenger" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public FloorModel FloorModel { get; set; }

    [Parameter]
    public List<ElevatorModel> Elevators { get; set; }

    [Parameter]
    public List<PassengerModel> Passengers { get; set; }

    [Parameter]
    public Func<ElevatorModel, Task> DeleteElevator { get; set; }
}

