
<div class="card text-white bg-warning mb-0">
    <div class="card-header py-1 px-2">
        <small><strong>Passenger @PassengerModel.Id</strong></small>
    </div>
    <div class="card-body text-dark py-1 px-2">
        <small class="d-block">Floor: @PassengerModel.RequestedFloor.Id</small>
        <small class="d-block">Wait: @PassengerModel.WaitTime</small>
    </div>
</div>

@code {
    [Parameter]
    public PassengerModel PassengerModel { get; set; }
}

